* {
    margin: 0;
    padding: 0;
}

body {
    height: 600px;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(32, 59, 59);
    height: 8%;
    box-sizing: border-box;
    padding: 25px;
}

header * {
    font-family: Arial, Helvetica, sans-serif;
}


#page-title {
    color: white;
    margin-right: auto;
}

#nav-list {
    margin-right: 20px;
}

.navigate {
    display: inline-block;
    margin: 5px;
}

.navigate a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.navigate a:hover {
    color: rgb(202, 202, 202);
}

#log-button {
    width: 100px;
    height: 35px;
    color: white;
    background-color: rgb(93, 93, 239);
    border: none;
    border-radius: 20px;
    font-size: 18px;
}

#log-button:hover {
    background-color: rgb(120, 120, 198);
    color: rgb(202, 202, 202);
}

