/* Author: Joshua Jacobs-Rebhun
 * Date: July 9, 2022
 * 
 *
 * This file simply styles the login button that is present on any webpage where
 * there is no user logged in yet. Otherwise, this stylesheet is unused.
 */


.log-button {
    width: 100px;
    height: 40px;
    color: white;
    background-color: rgb(43, 43, 43);
    border: 2px solid white;
    border-radius: 20px;
    font-size: 15px;
}

.log-button:hover {
    background-color: rgb(93, 93, 239);
    border: 2px solid rgb(93, 93, 239);;
}

.log-button a {
    text-decoration: none;
    color: white;
}