{% extends 'layout.html' %}


{% block head %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/login_button.css') }}">
{% endblock %}

{% block login_status %}
    {% if session.email %}
        <button id="log-button" class="log-button"><a href="/logout">Log Out</a></button>
    {% else %}
        <button id="log-button" class="log-button">Log In</button>
    {% endif %}

{% endblock %}


{% block main %}
    <div>
        <h3>Contact Us</h3>
        <p>
            Don't @ me
        </p>
    </div>

{% endblock %}

