<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/base_style.css') }}"> 
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <h2 class="page-title" id="page-title">Expensiv</h2>
        <nav>
            <ul class="nav-list" id="nav-list">
                <li class="navigate"><a href="/about">About</a></li>
                <li class="navigate"><a href="#">Contact</a></li>
            </ul>
        </nav>
        {% block login_status %}{% endblock %}
    </header>
    {% block main %}{% endblock %}
</body>
</html>